*~
*.o
*.a
*.so
*.d
*.x

config/config.h
config/git_commit
config/version
config/required_sarah_version.m
config/list_sarah_model_files.sh
config.status
config.log
config.boost
config.math
config.sarah
flexiblesusy-config
Makefile

doc/*.html
doc/*.png
doc/*.gif
doc/*.md5
doc/*.css
doc/*.dot
doc/*.aux
doc/*.toc
doc/*.out
doc/*.spl
doc/*.bbl
doc/*.blg
doc/flexiblesusy.pdf
doc/flexiblesusy-paper.pdf
doc/version.tex
doc/mainpage.dox
doc/html